 {%extends 'base.html'%}
 {%block pagecontent%}
      <div class="w3-container w3-center w3-gray w3-text-white ">

<!-- {% for user in items %}

     {{ user.title }}</div>
	{% endfor %}-->
 <div class="w3-container w3-gray w3-center">
   <div class="w3-text-white">


        <h3> Colored pencil drawings </h3>
         <h3><i>Collection of {{count}} Drawings</i></h3>
      </div>
     </div>

     {%for pieces in pieces %}

      <img src="{{pieces.image.url}}"/>
     
        
    {%endfor%}
    </div>
     {%endblock%}



