 {%extends 'base.html'%}

 {%block pagecontent%}

 <div class="w3-center ">


	{% for user in items %}
<div class="w3-text-white" >{{ user.title }}</div>
	{% endfor %}

     <div class="w3-text-white">
        <h1> Cartoons (mostly political) </h1>
         <h1><i>Collection of {{count}} Cartoons</i></h1>

     </div>
     {%for cartoons in cartoons %}
     <div class="w3-container w3-gray w3-cell ">
    <style>
  box-sizing:border-box
  .column {
  float: left;
  width: 50%;
  padding: 5px;
}</style>    <img src="{{cartoons.image.url}}" />
        </div>
        {%endfor%}
         <br>
{%for more in more %}
     <div class="w3-container w3-gray w3-cell">
        <img src="{{more.image.url}}" />
        </div>
        {%endfor%}
     {%endblock%}



