 {%extends 'base.html'%}

 {%block pagecontent%}

 <div class="w3-center ">


	{% for user in items %}
<div class="w3-text-white" >{{ user.title }}</div>
	{% endfor %}

     <div class="w3-text-black w3-display-container w3-center">
        <h1> Cartoons (mostly political) </h1>
         <h1><i>Collection of {{count}} Cartoons</i></h1>
      </div>     </div>
     {%for cartoons in cartoons %}
     <div class="w3-container w3-gray w3-cell w3-center">
     <img src="{{cartoons.image.url}}"style="width:100%" />
        </div>
        {%endfor%}
      <br>
        {%for more in more%}
        <div class="w3-container w3-gray w3-cell w3-center">
        <img src="{{more.image.url}}"style="width:100%" />
           </div>
           
           {%endfor%}
     {%endblock%}
        </div>


