<h2>The Wall by Mick Piontek</h2>

<p><h5>Northern Texas Border</h5>    He squinted as he looked down highway fourty five the sun setting low in the
    western sky . Mitch took the
    call anxiously "talk to me" he snapped. The truck an orange
    colored eighteen wheeler was dispatched from Washington DC on
    Friday making the two thousand mile trip without incident so
    far. Congress had approved the allocation of one point three
    billion dollars to fund the wall along the southern border of the
    United States and this truck carried the first installment mostly
    in blocks of ten and twenty dollar bills. Mitch Mulvaney assistant
    secretary of the department of homeland security had been given
    many duties in the service to his country but this one was the
    most puzzling. The shipment of this much cash raised red flags
    from the moment he received the assignment but after all President
    Obama had loaded a plane full of cash bound for Iran. Mulvaney
    decided to follow thru with his orders."The truck will be there in
    fifteen minutes is every thing set up?" Mulvaney responded "I see
    it in the distance. I hope they know what they are doing".

 </p><p><h5>Washington DC</h5>   Marcy Palmo sat looking in the mirror as she applied her makeup. The day
    ahead looked to be one she would not soon forget. "I'll get him if
    it takes me the rest of my life" she thought. Three weeks before
    in what seemed to last forever she was embroiled in a battle of
    wits. The president and his band of cronies insisting on funding
    for what had become known as "The Wall" a campaign promise the
    president made, a promise she must thwart as the party she
    represents future depends on it. His promise to have Mexico pay
    for it brought a smile to the half made up face in the mirror. She
    had no idea that the plan would take such a twist.

  </p><p><h5>Central Mexico</h5>  Jaun Rivera his wife Maria and their three children Pablo Edwardo and Utey
    three boys age seven to ten had just crossed the southern border
    of Mexico walking with a group of four hundred or so people from
    Guatemala destined to join up with a "caravan" of over two
    thousand heading to the southern border of the United States
    hoping to find jobs and a better life. Little did they know the
    ironic fate that awaited their arrival.
   </p><p><h5>South Texas</h5> Mulvaney was sitting in the passenger seat of the eighteen wheeler somewhere in south
    Texas they were heading for El Paso where earlier this week Mitch
    
    had rented a construction warehouse capable of housing the truck
    and provide adequate office space for the task he had been
    assigned. Ice Agents were notified of his coming and were training
    in the ways to carry out the Presidents assignment. </p><p><h5>Washington DC</h5> Palmo who had
    just resumed her position as speaker of the house arrived at her
    office only to find the halls congested with men and women who had
    lost a loved one at the hands of an illegal immigrant and they
    were upset! Palmo took a quick detour before anyone discovered her
    presence. " I just don't need this today" she exclaimed to Jill
    Southerland her chief aid as they ducked into an empty conference
    room. Her plans were to work on her upcoming speech before the
    Womens Right to Abort book club later that afternoon.

   </p><p><h5>ElPaso</h5> Jerry Berron director of the Ice agents of El Passo Texas laid out the
    presidents plan to his agents. "This is going to sound a little
    strange but frankly its a brilliant plan." He explained. "We are
    faced with a seemingly endless stream of "crossers" to deal with
    and limited resources to make it happen therefor we are going to
    give them the "crossers" what they came here for jobs" he
    exclaimed.  "Starting next week Wednesday we will be processing
    migrants for the job building the wall". "The men will be used for
    the work needing a strong back and the women will support with
    supply jobs and payroll". "Oh Did I mention" Berron paused "they
    will be paid in cash".  The men and women
    in the room began to talk among themselves Jerry quickly stated
    "there will be plenty of time to ask questions when I am through
    with the briefing" Berron pointed to the chart set up in the front
    of the room "family's will be housed in tents set up on the
    Mexican side of the wall and necessities will be provided using an
    army px system". "The camp will move along with the progress of the
    wall. I am told fifty five miles but the president says as more
    funds become available we will continue. He predicts with the cost
    savings from the use of these laborers perhaps many many more
    miles".

   </p><p><h5>Central Texas</h5>" Whose idea was this anyway?" asked Mitch they were eager to
    get to their destination the thought of that much cash in the back
    of the semi made everyone nervous. Wayne Wyers the driver an ex
    cop said he was at the briefing when the president himself came
    into the room and explained the plan. He said keeping the money in
    cash prevented the congressional commitment from being rescinded.

    </p><p><h5>Central Mexico</h5>Jaun and Maria had been walking for seven hours through the
   countryside of Mexico temperatures had been in the nineties most of
   the afternoons, tolerable, but the humidity was staggering. Staying
   hydrated was very difficult as this area was sparsely populated         
   with small farms and villages spread out along the route. People
   helped where they could allowing them to fill their jugs with water
   but resources were very scarce. Maria had a sock in her backpack
   containing their entire life savings and it was being depleated at
   an alarming rate. They were making camp under a large tree just off
   the road they would spend the night and resume their journey at
   sunrise the next morning. "I'm hungry" said one of the boys "me
   too" said Utey. Marie and Jaun looked at each other the expression
   on their faces said it all.

  </p><p><h5>Washington DC</h5> Marcy Palermo thought she would wait out the demonstration going on
   in front of her office but the time was going on two pm and her aid
   reported that the demonstraters were still there so Marcy went over
   to the floor to see how her inspired resolution to recind the
   presidents declaration of emergency was shaping up. There were many
   opinions and not all of her congress men and women were on the same
   page but she new when it came down to the vote she would whip them
   into shape. Congress and the Senate were beyond any hope of being
   bypartisan this just wasn't going to happen.

  </p><p><h5></h5> The President had issued a state of emergency declaration shortly
   after congress under appropriated his request for wall funding and
   this declaration was causing the Democrats to melt and then
   explode. Fortunatly the President ignored all this and persisted
   with his plan for making America great again. Congress felt
   confident they would be able to pass their resolution but there was
   no way the Senate would agree and he certainly would not sign it.

  </p><p><h5>El Paso </h5> Berrons was on the phone with Joe Acer his sargent at the port of
   entry at California "we are getting the razor wire and
   supplementery chain link fencing in place thanks to the help of the
   Army and national guard from California'' replied Acer  "reports
   have come in  putting the "caravan" at the halfway point in Mexico"
   Berrons hung up and turned to Mulveney who had just arrived with
   the truck. They were in the back office of the building Mitch had
   leased a former big box store that closed in 2008. One of his
   select crew was unloading the trailer with a fork lift. The blocks
   of money were stacked on pallets  they were being transfered to a
   block walled room constructed in the center of the large
   space. Precautions were taken with fire in mind but security was
   minimal the plan was to keep knowledge of the money's existance limited to only
   a select group and that group at the moment was very small.
</p><p><h5>Taxas southern border</h5>
  The area along the Texas border is mostly guarded by the Rio Grand
	and includes many formidable gorges with insanely high and rugged
	cliffs, this acts as a natural border. The port of entry at El
	Paso stretching to Presidio Texas was to be the first of many projects
	using this new allotment of funds from congress. El Paso was chosen as
	a starting point because California a likely starting point was
	playing liberal politics with the steady stream of immigrants flowing
	thru its ports. Filing suites in an attempt to block the Presidents
	state of emergency and granting sanctuary city privileges to the many
	illegal immigrants that are the "released" of the "catch and release" policy
	carried over from the last administration. "So Screw them" said the
	President.
