
The sun was out of the west, it was four thrity in the afternoon on Friday, a perfectly clear afternoon for taking photographs so I set up my tripod
and captured the magnificant shot shown above. This is a view I see quite regularly from the back window of my apartment in downtown Green Bay Wisconsin.
The photo of the now altered H.C. Prange department store where I worked for most of my career as  part of a two man crew that maintained and occasionally
remodeled this building. Looking at the building now I can't help remembering how it looked and functioned throughout the years. I grew up in Green Bay and have
enjoyed it here I met and married my wife also a Green Bay native and we have spent most of our time together living on the East side of the river. Green Bay has a reputation for demarking its living areas as "east side" "west side" my wife being a "west sider", she has adapted very nicely. I set out on this project because I have a nice photo collection of buildings in and around Green Bay including some of its churchs and this site will allow me to share them with you. Hope you enjoy.

