{%load static%}
<body>
 <div class="w3-panel w3-leftbar w3-light-grey">
  <p class="w3-xlarge w3-serif w3-center">
  <i>"If you don't come to my funeral I won't go to yours"......Yogi Berra"</i></p>

  <div class="w3-center">
  <p>Thanks to a grant from the Big Fondation</p>
<p>Henry and Lois Big.... paintings by Modigliani</p>


 <img  src="{% static  'images/mrbig.jpeg' %}"  alt="mrbig" style="width:80%;max-width:320px">
 <img  src="{% static  'images/mrsbig.jpeg' %}"  alt="mrbig" style="width:80%;max-width:320px">
 </div>
</div>

