 <div class="w3-bar w3-border w3-grey w3-text-white w3-wide">
  <a href="{%url 'home'%}" class="w3-bar-item w3-button ">Home</a>
  <a href="{%url 'cartoons'%}" class="w3-bar-item w3-button">cartoons</a>
  <a href="{%url 'art'%}" class="w3-bar-item w3-button">art</a>
  <a href="{%url 'book_index'%}" class="w3-bar-item w3-button">books</a>
  <a href="{%url 'song'%}" class="w3-bar-item w3-button">songs</a>
  <a href="{%url 'stories'%}" class="w3-bar-item w3-button">words</a>
 </div>
                <div class="w3-text-white w3-i">{% for user in items %}
                <div >{{ user.title }}</div>
	            {% endfor %}

