 <div class="w3-bar w3-border w3-grey w3-text-white w3-wide w3-center">
     <a href="{%url 'home'%}" class="w3-bar-item w3-button ">Home</a>
     <a href="{%url 'art'%}" class="w3-bar-item w3-button">art</a>
     <a href="{%url 'stories'%}" class="w3-bar-item w3-button">stories</a>
     <a href="{%url 'photos'%}" class="w3-bar-item w3-button">photos</a>
     <a href="{%url 'book_index'%}" class="w3-bar-item w3-button">book</a>
     <a href="{%url 'cartoons'%}" class="w3-bar-item w3-button">cartoons</a>
</div>

