{% load static %}

<!doctype html>
<html lang="en" >
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <style>  a {color:DodgerBlue;}</style>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <title >  {% block title %}Writing experiences {% endblock %} </title>
  </head>
  <body >
    <div class="w3-container w3-light-grey">
  {% include "partials/photonavbar.html" %}


      {% block pagecontent %}


      {% endblock %}
    </div>
  </body>
</html>
